<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924036587110-kja01r7lolpbae2a6okvknganc3nnjbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924036587110-kja01r7lolpbae2a6okvknganc3nnjbj</string>
	<key>API_KEY</key>
	<string>AIzaSyB4V0qpCI3aUPNHTSzmFvBoO2nmwx1VCfA</string>
	<key>GCM_SENDER_ID</key>
	<string>924036587110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>flashchat1.flashChat1</string>
	<key>PROJECT_ID</key>
	<string>flashchat-93555</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-93555.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924036587110:ios:0d7a4f1f825441c3eed7a7</string>
</dict>
</plist>